# Latex build output
tex/build

# Typst output
typst/main.pdf

# Training data
src/data

# Python virtural enviroment
.venv/

# Python cache
*.pyc
src/__pycache__/
.Python
*.pyo
*.pyd

# Runs directory
src/runs

# Runs analysis directory
src/landscape_runs
